*build
*dist

*__pycache__
*.venv
*.env*
*polygon.ipynb
*polygon.py
compile.md

*logs
*.log
ssh
src/wg/wg0.conf
src/wg/wg1.conf
*FastUI-demo
*test*
src/scheduler/last_decremented.pickle
src/scheduler/last_noticed.pickle
src/db/backups/backup*
src/db/dumps/*dump*
bugs/*
3.10/*
server/html/*
server/static/archive/*
