body {
    background-color: #000000;
    /* Цвет фона страницы */
}

.container {
    padding: 20px;
    /* Отступы для контейнера */
    height: 100vh;
    /* Высота контейнера */
}

.custom-button {
    background-color: blue;
    color: rgb(58, 120, 214);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.custom-button:hover {
    background-color: darkblue;
}